html, body{ height: 100% }

img{
    max-width: 100%;
    vertical-align: middle;
}

body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
body:before{
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .2);
}

.slider{
    margin: auto;
    position: relative;
    max-width: 1000px;
}

.bg{
    top: -2em;
    left: -2em;
    right: -2em;
    bottom: -2em;
    z-index: -1;
    filter: blur(1em);
    position: fixed;
    transition: background .3s;
    background: center/cover no-repeat;
}

.image-room{
    /*display: flex;
    flex-wrap: nowrap;
    flex-direction: row;*/
    white-space: nowrap;
    transition: transform .75s;
}
.image-room img{
    width: 100%;
}

.slider-btn{ display: flex }
.slider-btn img{ cursor: pointer }

.slider-image{
    overflow: hidden;
    position: relative;
    margin-bottom: 2em;
}

.slider-image, .slider-btn{
    box-shadow: 0 0 1em rgba(0, 0, 0, .2);
}

.slider-action{
    right: 0;
    bottom: 0;
    position: absolute;
}

.slider-action .btn{
    color: #fff;
    display: block;
    padding: 1em 1.5em;
    text-decoration: none;
    transition: opacity .3s;
    border-radius: 1em 0 0 0;
    background: rgba(0, 0, 0, .5);
}
.slider-action .btn:hover{ opacity: .8 }

@media screen and (max-width: 600px){
    .slider-image img{
        min-height: 17em;
        object-fit: cover;
    }

    .slider-btn img{
        min-height: 4em;
        object-fit: cover;
    }
}
